<h1 class="display-4">Login</h1>
<div class="row">
   <div class="col-md-4">
      <form #myform = "ngForm" (ngSubmit) = "onSubmit(myform)">
         <div class="form-group">
            <label class="control-label">AdminID:</label>
            <input id="AdminID" name="AdminID" class="form-control" ngModel />
         </div>
         <div class="form-group">
            <label class="control-label">Password:</label>
            <input type="password" id="Password" name="Password" class="form-control" ngModel />
         </div>
         <div class="form-group">
            <input type="submit" value="Login" class="btn btn-primary"  />
         </div>
      </form>
   </div>
</div>
